.lightbox{
  min-height: 420px;
  border-radius: var(--space-sm);
  overflow: hidden;
}
.lightbox .arrows{
  z-index: 1;
}
.showcase{
  height: var(--height-full);
  width: var(--width-full);
}
.lightbox .showcase img{
  inset: 0;
}
.lightbox .thumbs{
  z-index: 1;
  bottom: var(--space-md);

  gap: var(--space-xl);

  padding: var(--space-sm) var(--space-2xl);

  border-radius: var(--space-sm);

  background-color: var(--bg-gray-dark);
  opacity: .8;
}
.lightbox .thumbs ul{
  gap: var(--space-xs);
}
.lightbox .thumbs .thumb{
  border: 4px solid transparent;
  box-sizing: unset;
}
.thumb.thumb-active{
  border-color: var(--red);
}

@media only screen and (max-width: 800px){
  .showcase{
    min-height: 320px;
  }
}
@media only screen and (max-width: 540px){
  .showcase{
    min-height: 240px;
  }
}